

.yellow-bg-hover, .yellow-box, .yellow-box a, .yellow-box p,.black-text-hover p, .black-text-hover a, .article-card, .article-card p, .white-bg, .adress-hover, .adress-hover i, .white-input {
    transition: 0.3s;
}

button {
    transition: 0.3s;
}

button:hover{
    box-shadow: 0 0 10px orange;
}



#alternativ-felt li:hover {
    background-color: #e0e0e0;
}
.selected {
    outline: 2px solid #4F38FF; /* Border for valgt alternativ */
    background-color: #484848 !important;
    color: white !important;
}