body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.card {
    width: 300px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background-color: #f0f0f0;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
}

ul li:hover {
    background-color: #e0e0e0;
}

.default {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.blue {
    background-color: #007bff;
    color: white;
}
.gray {
    background-color: #adadad;
    color: white;
}

.blue:hover {
    background-color: #0056b3;
}

.gray:hover {
    background-color: #6c6c6c;
}

#feedback {
    margin-top: 20px;
    font-weight: bold;
}

#correct-answer {
    margin-top: 10px;
}


.selected {
    border: 2px solid #4F38FF; /* Border for valgt alternativ */
}

.correct {
    background-color: #83FF77; /* GrÃ¸nn bakgrunn for riktig svar */
}

.incorrect {
    background-color: #FF7783; /* RÃ¸d bakgrunn for feil svar */
}